doctype html
html(class="no-js" lang="en-us")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title fog
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    //-link(rel="apple-touch-icon" href="apple-touch-icon.png")
    link(rel="stylesheet" href="/main.css")
    //-script(src="js/vendor/modernizr-2.8.3.min.js")

  body
    //-canvas#fog-1
    .bg-grad

    .callout.u-text-center
      img.u-center-block(src="/img/logo_fog.svg")
      a(href="mailto:inquiries@fog.haus") inquiries at fog dot haus

      .form
        include fog-form.pug

    script(src="/vue.js")
    script(src="fog.js")
    // Google Analytics: change UA-XXXXX-Y to be your site's ID.
    script  window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date; ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
    script(src="https://www.google-analytics.com/analytics.js" async defer)
