$black = #323b41
$grey  = #94a4a6

// Layout
html, body
  background-color $black
  color $grey
  font-family 'Open Sans', sans-serif
  //background-image url('/img/fog.png')
  //background-repeat no-repeat
  //background-position 50% -50%
  //background-size contain

.callout
    margin-top 15%
    margin-top 15vh

  a
    font-size 18px

.hello-form
  margin-top 1rem
  font-size 22px
  max-width 600px

.hello-form .form-section
  visibility hidden

.hello-form .form-section.show
  visibility visible

.form-body
    display none
    line-height 1.4em
    padding-bottom 4rem

.hide
  visibility hidden

.display
  display block

// Typo
h1
  font-size 66px

a
  text-decoration none

a, h1
  color inherit

// Transitions
.trans.opacity-in,
.trans.opacity-out
  transition opacity 2000ms ease

.trans.opacity-in
  opacity 0

.trans.opacity-out
  opacity 1

.trans.hide
  opacity 0

.trans.show
  opacity 1

// Form
input, select
  border 0
  background-color darken($black, 10%)
  font-size 22px
  padding 4px
  border-bottom 1px solid grey
  border-radius 0
  text-align center
  color lightgrey

.group
  text-align left
  max-width 600px
  margin-top 1rem

.group input
  display block
  text-align left

// Util
.u-center-abs
  position absolute
  top 33%
  left 50%
  transform translateX(-50%) translateY(-50%)

.u-center-block
  margin-left auto
  margin-right auto
  display block

.u-text-center
  text-align center

.u-text-left
  text-align left
