extends ../layout/page
block body
    header
      img.logo.u-center-block(src="/img/logo_fog.svg")
      a.emailLink.u-text-center(href="mailto:inquiries@fog.haus") inquiries at fog dot haus

      p.bodyCopy.introCopy.u-text-center.
        We see an increasing trend in consumers and businesses wanting
        sustainable, philanthropic, and uplifting goods and services.

      img.arrowDown(src="/img/arrow-down.svg")

    section
      h2.bodyCopy.
        We #[span.bodyCopy--popped like] that.

      p.bodyCopy.
        And we know that the demand will continue to grow. Why? We’re just like
        you. We’re consumers and we’re business owners. We support socially
        conscious products and we build them, too. We’ve helped companies
        launch, grow, and generate revenue while empowering their users to live
        better lives.

      p.bodyCopy.
        We started #[span(style="color: white; font-family: Lora;") fog] so we
        could work together to build more of those.

      h2.callout.
        “We’re just like you&hellip; consumers and business owners.”

      p.bodyCopy.
        We’re experienced designers, advisors, and creative technologists
        on a mission to fuel startups that want to solve problems (big
        and small) in a profitable and sustainable way. 

    section.section--altBg
      h3.u-text-center.section-title We have three core tenets.
      .cardWrap
        .row
          .four.columns
            .card
              h3.card-title Empowerment
              p.card-copy.bodyCopy--small.
                New cloud and mobile technologies are driving a digital
                democratization as broadly accessible solutions emerge across
                education.

          .four.columns
            .card
              h3.card-title Social Good
              p.card-copy.bodyCopy--small.
                We’re on the hunt for startups that are pursuing massive improvements
                in human health, wellness, and performance across nutrition, fitness,
                and medicine.

          .four.columns
            .card
              h3.card-title Sustainability
              p.card-copy.bodyCopy--small.
                We believe we can live in a world of abundance by unlocking new ways
                of generating, consuming, and re-purposing resources. 


      include ../includes/fog-form.pug

    script(src="/vue.js")
    script(src="fog.js")
    // Google Analytics: change UA-XXXXX-Y to be your site's ID.
    script  window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date; ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
    script(src="https://www.google-analytics.com/analytics.js" async defer)
