extends ../_layout
block body
  .page
    #logos
        img#logo(class="fogLogo", src="/img/fog-logo.svg")
        img#logo-green(class="fogLogo", src="/img/fog-logo.svg")

    #fogGroups
        img#fog-1(class="fogGroup", src="/img/fog-group.png")
        img#fog-2(class="fogGroup", src="/img/fog-group-2.png")
        img#fog-3(class="fogGroup", src="/img/fog-group-3.png")

    #home
        .copyColumn
            section.lead
                h1.light.thin.
                  Business is changing. Sustainability, social innovation, a
                  tech savvy mentality, and machine intelligence are the new
                  norms. The landscape of society is rapidly mutating.

            section
                h1.font-alt.alt.
                    We like that.

                p.
                    We understand that the new consumer is more demanding and savvier than
                    big companies are willing to admit. We understand that being competitive
                    means having more knowledge sooner. We understand the value of digital
                    transformation, and we're lean and smart enough to actually get it done.

                p.
                    We’re just like you. We’re consumers and we’re business
                    owners. We're demanding. We support socially conscious
                    products. We understand that no one's going to build the
                    future we want for us.

                p.
                    We started fog to do just that.

                p.
                    Here’s how we do it.

            section
                .serviceBlock
                    img.serviceIcon.u-imgResp.u-centerBlock(src="/img/tail.svg")
                    h2.alt.u-textCenter.
                      A Lean Approach

                    p.
                      We'll help you validate your concept, test your product, and
                      ensure that you aren't falling into the trap of building for
                      its own sake.


                .serviceBlock
                    img.serviceIcon.u-imgResp.u-centerBlock(src="/img/uplift.svg")
                    h2.alt.u-textCenter.
                      Flexible, Scalable Output

                    p.
                      What you need, when you need it. Do you build or buy? What happens
                      when your first 1,000 customers have signed up? Your first 10,000?
                      We're here to guide you through the process, enabling your team to
                      focus on what matters most to your business.


                .serviceBlock
                    img.serviceIcon.u-imgResp.u-centerBlock(src="/img/wave.svg")
                    h2.alt.u-textCenter.
                      Digital Transformation

                    p.
                      Sometimes you need to set old things aside and embrace what's
                      coming. We'll help you understand the needs of your organization
                      on a technical and humane level, create a blueprint for your
                      evolution, and ensure proper execution.


                .serviceBlock
                    img.serviceIcon.u-imgResp.u-centerBlock(src="/img/responsive-sizes.svg")
                    h2.alt.u-textCenter.
                      Actionable Insight

                    p.
                      Without a clear understanding of your own operation,
                      you'll never know for sure if you're succeeding or if
                      destruction is right around the corner. We'll work with you
                      to generate actionable insights about your organization and
                      outfit you with the tools you need to make the best decisions.


            section
                h2.alt.
                    You like that? Get in touch.

                p.
                    If you like what you’ve been reading #[a(target="_blank", href="mailto:inquiries@fog.haus?subject=Hello") reach out #[img(class="icon-inline", src="/img/icon-envelope.svg")]] and we'll start a conversation.


                p © 2018 fog.haus
