extends ../layout/page
block body
    header
      img.mastheadLogo.u-center-block(src="/img/logo_fog.svg")
      a.emailLink.u-text-center(href="mailto:inquiries@fog.haus?subject=General Inquiries") inquiries at fog dot haus

    section.container
      p.bodyCopy.introStanzas.
        Business is changing.
        Sustainability and social
        innovation are at the
        forefront, and this new age of
        global megacorps is rapidly mutating.

    section.container
      h2.bodyHeadline We like that.

      p.bodyCopy.
        At #[img.logo--inlineLarge(src="/img/logo_fog.svg", alt="fog")],
        we understand that the new consumer is more demanding and savvier than
        big companies are willing to admit. They want products with impact,
        that are forward thinking, and culturally-relevant. They're smart,
        capable, and worth knowing. They demand to be treated like humans.

      .leftIndent
        p.bodyCopy.bodyCopy--small.bodyCopy--altColor.
          And we know that demand will only intensify. Why? We’re just like
          you. We’re consumers and we’re business owners. We're demanding. We
          support socially conscious products. We understand that no one's going
          to build the future we want for us. We’ve helped companies and cool
          individuals launch, grow, and generate revenue while empowering their
          users to live better lives.

        p.bodyCopy.bodyCopy--small.bodyCopy--altColor.
          We started
          #[img.logo--inlineSmall(src="/img/logo_fog.svg", alt="fog")]
          to do more of that.

        p.bodyCopy.bodyCopy--small.bodyCopy--altColor.
          Here’s how we do it.

    section.container
      .service.row
        .four.columns
          img.serviceLogo(src="/img/tail.svg")

        .eight.columns
          h3.bodySubHeadline Idea Validation

          p.bodyCopy.bodyCopy--small.bodyCopy--altColor.
            Need an investor, or are you applying for an accelerator to push
            and fund your idea? We help you visualize your idea into a tangible
            design that refines your concept, establishes business need, and
            outfits you wireframes and art direction to help you make your
            pitch.

      .service.row
        .four.columns
          img.serviceLogo(src="/img/uplift.svg")

        .eight.columns
          h3.bodySubHeadline Venture Development

          p.bodyCopy.bodyCopy--small.bodyCopy--altColor.
            You’ve said to yourself, “This is it! I’ve got the idea that will
            radically change ____!” Hold up. Before you spend an
            exorbitant fee on getting your idea developed, think about the
            risk involved. Partner with us to build your MVP and reduce your
            initial overhead in exchange for an equity stake. Share the burden
            of launching a successful venture and gain access to a team of
            co-founders packed with nearly a decade of startup experience.

      .service.row
        .four.columns
          img.serviceLogo(src="/img/wave.svg")

        .eight.columns
          h3.bodySubHeadline The Retainer

          p.bodyCopy.bodyCopy--small.bodyCopy--altColor.
            When your needs are recurring (and, as they so often are,
            unpredictable), you need good people on call. You need design or
            development help ASAP? Problem solving? Firefighting? Consulting
            and training?  We got you covered. As your partner, our flexible
            workflow helps bolster your internal team or gives you the
            extra kick you need when working with outsourced talent.

      .service.row
        .four.columns
          img.serviceLogo(src="/img/responsive-sizes.svg")

        .eight.columns
          h3.bodySubHeadline Your Project

          p.bodyCopy.bodyCopy--small.bodyCopy--altColor.
            “I need a website.” “I need branding.” “I need an app.” We’ve heard
            them all and we know how to help you. This is where we ask you a ton of
            questions, figure out your goals, define the scope, create & refine
            a concept, design the hell out of it, and develop it. Or any
            combination. You will be happy, and your users will thank you.
            You’re welcome.

    section.container
      h3.bodyHeadline You like that? #[br] Get in touch.

      p.bodyCopy.
        Currently, we’re working on a few projects. If you like what you’ve
        been reading, well, you ought to shoot us a line and we'll get
        a conversation started.

      p.bodyCopy.bodyCopy--small.bodyCopy--altColor.
        fog. team #[br]
        Nick Lorenson #[br]
        Alexander Elliot #[br]
        Ameer Suhayb Carter

      p.bodyCopy.bodyCopy--small.
        #[a(href="mailto:inquiries@fog.haus?subject=General Inquiries").emailLink.green Email us for questions ↗ ]

      p.bodyCopy.bodyCopy--small.
        or

      p.bodyCopy.bodyCopy--small.
        #[a(href="mailto:inquiries@fog.haus?subject=Agency Services").emailLink.green agency services ↗ ]

      p.copyright.bodyCopy.bodyCopy--small.
        © 2016 fog.

    footer.container
      h2.bodyHeadline By the way...

      p.bodyCopy.
        Ideas or no ideas, if you’re interested in journeying into
        entrepreneurship with digital products, we can provide a few things
        that might come in handy along the way.

      p.bodyCopy.
        Words

      a.bodyCopy.green.
        Thoughts on software, digital services and the new wave of business. ↗ 

      p.bodyCopy.
        Action

      a.bodyCopy.green.
        Thunder Canvas: Idea generation and validation tool. ↗ 
