.mastheadLogo
  padding-top 96px
  display block
  max-width 100%

.arrowDown
    display block
    margin 0 auto
    margin-top 5rem
    cursor pointer

.serviceLogo
  display block
  margin 0 auto

  @media (min-width: 768px)
    margin 0
    padding-top 64px
