.btn
  display block
  border none
  padding 8px 16px
  max-width 250px
  margin-top 1rem
  cursor pointer

.btn-icon
  line-height 1.2

.btn-label
  margin-left 8px

.btn--primary
  background-color $neonTeal
  color $white

.btn--secondary
  background-color $lighterGrey
  color $white

.btn--tertiary
  background-color $slate
  color $white

.btn--large
  font-size 1.3em
  max-width 300px

