.emailLink
  display block
  color $fogBlue

.bodyHeadline
  font-size 40px
  color $fogGreen

  @media (min-width: 768px)
    font-size 55px

.bodySubHeadline
  font-size 22px

  font-weight bold
  color $fogGreen

  @media (min-width: 768px)
    font-size 35px

.bodyCopy
  color $fogBlue
  font-size 22px

  @media (min-width: 768px)
    font-size 35px

.green
  color $fogGreen

.bodyCopy--small
  font-size 20px

  @media (min-width: 768px)
    font-size 25px

.bodyCopy--altColor
  color $fogWhite

.service
  margin-top 80px

  @media (min-width: 768px)
    margin-top 112px

.copyright
  margin-top 128px
