.card
  padding 60px 32px
  background-color $anotherGreyGreen
  border-bottom 16px solid $neonTeal
  max-width 380px
  min-height 440px
  position relative
  opacity 0
  top 40px

.card-title
  color $iceBlue

.cardWrap
  margin-top 64px
  max-width 1000px
  margin-left auto
  margin-right auto

.cardWrap .columns
  padding-left 1rem
  padding-right 1rem
