// Form
.hello-form
  margin-top 1rem
  font-size 22px
  max-width 468px

.hello-form .form-section
  visibility hidden

.hello-form .form-section.show
  visibility visible

.form-body
    display none
    line-height 1.4em
    padding-bottom 4rem

input, select
  border 0
  background-color darken($slate, 10%)
  font-size 22px
  padding 4px
  border-bottom 1px solid grey
  border-radius 0
  text-align center
  color lightgrey

.group
  text-align left
  max-width 600px
  margin-top 1rem

.group input
  display block
  text-align left

