P.
  There’s an increasing trend in consumers and businesses looking for
  sustainable, philanthropic and uplifting goods and services.

 p.
  We like that.

p.
  And we know that the demand will continue to grow. Why? We’re just like you.
  We’re consumers and we’re business owners. We support social and societal
  products and we build them too. We’ve helped companies launch, grow and
  generate revenue while empowering their users to live and lead better lives.

p.
 We started Fog to continue the practice of building more of those.

p.
  We’re experienced designers, advisors and creative technologists at heart, on
  a mission to fuel startups that want to solve problems (big and small!) in
  a profitable and sustainable way.
