doctype html
html(class="no-js" lang="en-us")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title fog
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    //-link(rel="apple-touch-icon" href="apple-touch-icon.png")
    link(rel="stylesheet" href="/main.css")
    link(href="https://fonts.googleapis.com/css?family=Hind:300,400,700|Space+Mono", rel="stylesheet")
    //-script(src="js/vendor/modernizr-2.8.3.min.js")

  body
    header
      img.logo.u-center-block(src="/img/logo_fog.svg")
      a.emailLink.u-text-center(href="mailto:inquiries@fog.haus") inquiries at fog dot haus

      p.bodyCopy.introCopy.u-text-center.
        There’s an increasing trend in consumers and businesses looking for
        sustainable, philanthropic and uplifting goods and services.

      img.arrowDown(src="/img/arrow-down.svg")

    section
      p.bodyCopy.
        We like that.

      p.bodyCopy.
        And we know that the demand will continue to grow. Why? We’re just like
        you. We’re consumers and we’re business owners. We support social and
        societal products and we build them too. We’ve helped companies launch,
        grow and generate revenue while empowering their users to live and lead
        better lives.

      p.bodyCopy.
        We started Fog to continue the practice of building more of those.

      h2.callout.
        “We’re just like you... consumers and business owners.”

      p.bodyCopy.
        We’re experienced designers, advisors and creative technologists at
        heart, on a mission to fuel startups that want to solve problems (big
            and small!) in a profitable and sustainable way. 

    section.section--altBg
      .form
        include fog-form.pug

    script(src="/vue.js")
    script(src="fog.js")
    // Google Analytics: change UA-XXXXX-Y to be your site's ID.
    script  window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date; ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
    script(src="https://www.google-analytics.com/analytics.js" async defer)
