$olive = #465057
$slate= #323b41
$grey  = #94a4a6
$neonTeal = #50E3C2
$iceBlue = #D7F9F1
$fadedGrey = #A5A8AB


*
    box-sizing border-box

// Typo
h1
  font-size 66px

a
  text-decoration none

a, h1
  color inherit

p, span, label
  font-size 28px
  font-weight 300

// Layout
html, body
  background-color $slate
  color $iceBlue
  font-family 'Hind', 'Open Sans', sans-serif
  font-size 1em
  line-height 1.25
  padding 0
  margin 0

header
    margin-top 15%
    margin-top 15vh
    padding-bottom 6rem

section
    background-color $olive
    padding-top 6rem
    padding-bottom 6rem

.logo
  width 400px

.emailLink
    color $fadedGrey
    font-family "Space Mono", monospace
    display block
    font-size 22px
    margin-top 2rem

.arrowDown
    display block
    margin 0 auto
    margin-top 5rem

.bodyCopy
  max-width 468px
  margin-left auto
  margin-right auto
  font-weight 300

.introCopy
    margin-top 4rem
    max-width 600px

.callout
    margin 4rem auto
    border 2px solid $neonTeal
    padding 4.2rem 6rem
    max-width 728px
    font-weight 400
    font-size 3rem


.hello-form
  margin-top 1rem
  font-size 22px
  max-width 600px

.hello-form .form-section
  visibility hidden

.hello-form .form-section.show
  visibility visible

.form-body
    display none
    line-height 1.4em
    padding-bottom 4rem

.hide
  visibility hidden

.display
  display block

// Transitions
.trans.opacity-in,
.trans.opacity-out
  transition opacity 2000ms ease

.trans.opacity-in
  opacity 0

.trans.opacity-out
  opacity 1

.trans.hide
  opacity 0

.trans.show
  opacity 1

// Form
input, select
  border 0
  background-color darken($slate, 10%)
  font-size 22px
  padding 4px
  border-bottom 1px solid grey
  border-radius 0
  text-align center
  color lightgrey

.group
  text-align left
  max-width 600px
  margin-top 1rem

.group input
  display block
  text-align left

// Util
.u-center-abs
  position absolute
  top 33%
  left 50%
  transform translateX(-50%) translateY(-50%)

.u-center-block
  margin-left auto
  margin-right auto
  display block

.u-text-center
  text-align center

.u-text-left
  text-align left
