$white = #ffffff
$olive = #465057
$slate= #323b41
$grey  = #94a4a6
$neonTeal = #50E3C2
$iceBlue = #D7F9F1
$fadedGrey = #A5A8AB
$lighterGrey = #535F65
$anotherGreyGreen = #465057

$copyWidth = 468px

*
    box-sizing border-box

@import "_card"
@import "_section"
@import "_form"

// Typo
h1
  font-size 66px

h2
  font-size 52px

h3
  font-size 32px

h1, h2, h3
  font-weight 300

span
  font-size inherit

a
  text-decoration none

a, h1
  color inherit

p, label
  font-size 28px
  font-weight 300

// Layout
html, body
  background-color $slate
  color $white
  font-family 'Hind', 'Open Sans', sans-serif
  font-size 1em
  line-height 1.25
  padding 0
  margin 0

header
    margin-top 15%
    margin-top 15vh
    padding-bottom 6rem

.logo
  width 400px

.emailLink
    color $fadedGrey
    font-family "Space Mono", monospace
    display block
    font-size 22px
    margin-top 2rem

.arrowDown
    display block
    margin 0 auto
    margin-top 5rem
    cursor pointer

.bodyCopy
  max-width $copyWidth
  margin-left auto
  margin-right auto
  font-weight 300

.bodyCopy--popped
    color $iceBlue

.bodyCopy--small
    font-size 20px
.introCopy
    margin-top 4rem
    max-width 600px

.callout
    margin 4rem auto
    border 2px solid $neonTeal
    background-color $lighterGrey
    padding 4.2rem 6rem
    max-width 728px
    font-weight 400
    font-size 2.6rem
    text-align center

.hide
  visibility hidden

.display
  display block

// Transitions
.trans.opacity-in,
.trans.opacity-out
  transition opacity 2000ms ease

.trans.opacity-in
  opacity 0

.trans.opacity-out
  opacity 1

.trans.hide
  opacity 0

.trans.show
  opacity 1

// Util
.u-center-abs
  position absolute
  top 33%
  left 50%
  transform translateX(-50%) translateY(-50%)

.u-center-block
  margin-left auto
  margin-right auto
  display block

.u-text-center
  text-align center

.u-text-left
  text-align left
